.btn,
.home-btn{
    display:inline-block;
    margin:10px 5px;
    padding:12px 24px;
    background:#0077ff;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover,
.home-btn:hover{
    background:#0055cc;
    transform:translateY(-2px);
}
btn{
    background:#2d89ef;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

.btn:hover{
    background:#1d5fb8;
}